

body {
  font-family: Arial, Verdana, sans-serif;
}

div {
  margin: 0px 50px 25px 50px;
}

#title-box {

}

/*img.logo {
  display: block;
  margin:auto;
}*/


#strip-box {
  display:block;
  margin: 0px 50px 25px 50px;
  min-width: 800px;
  max-width: 100%;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
}

.strip {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

.blog, .about {
  border: 1px solid;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  min-height: 225px;
  max-height: 225px;
}

.blog {
  float: right;
  min-width: 70%;
  max-width: 70%;
}

.about {
  overflow:hidden;
  min-width: 20%;
  max-width: 20%;
}
