body {
    font-family: Arial, Verdana, sans-serif;

}

#content {
  width: 1000px;
  margin: 0 auto;

}

#strip-box {
    /*display:block;*/
    /*margin: 0px 50px 25px 50px;*/
    width: 1000px;
    background-color: #ffffff;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.nav {
  width: 1000px;
  text-align: center;
}

.strip {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.blog, .about {
    /*overflow: auto;*/
    float: left;
    /*border-radius: 25px;*/
    padding: 10px 10px 10px 10px;
    min-height: 300px;
    max-height: 300px;
    margin-bottom: 10px;
}

.blog {
    width: 755px;
}

.about {
    width: 200px;
    border-right: 1px solid;
}
