{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Curse You, Thursday</title>
  <link href={% static "css/cyt.css" %} type="text/css" rel="stylesheet" />

</head>

<body>

    <img class="logo" src={% static "images/logo.jpg" %} title="Curse You Thursday"/>

    <br>
    <div id="strip-container">
    {% if current_strip %}
      {% for strip in current_strip %}
        <img class="strip" src="{{strip.image.url}}" alt="{{strip.alt}}" title="{{strip.alt}}" /> {% endfor %}
    {% endif %}
    </div>

    <div class="nav">
      <table>
        <tr>
          <td>
            {% if current_strip.has_next %}
              <a href="?page={{ current_strip.next_page_number }}"><img src={% static "images/prev.jpg" %} title="previous"/></a>
            {% else %}
              <img src={% static "images/prev.jpg" %} title="previous"/>
            {% endif %}
          </td>
          <td>
            {% if current_strip.has_previous %}
              <a href="?page={{ current_strip.previous_page_number }}"><img src={% static "images/next.jpg" %} title="next"/></a>
            {% else %}
              <img src={% static "images/next.jpg" %} title="next"/>
            {% endif %}
          </td>
        </tr>
      </table>
    </div>


    <div id="blog">
    {% if recent_posts %}
      {% for p in recent_posts %}
        <h3>{{p.title}}</h3>
        <p>{{p.text}}</p>
      {% endfor %}
    {% endif %}
  </div>

  <div id="about">
    <table>
        <tr>
            <td><img src={% static "images/itisme.jpg" %} /></td>
            <td>
                <p>A short description of what this is.</p>
            </td>
            <td>
                <p>Other work will go here.</p>
            </td>
        </tr>
    </table>
  </div>

</body>
</html>
