{% load static %}

<html>
<head></head>
<body>

  <p>woooooo</p>
{% if current_strip %}
{% for strip in current_strip %}
<img src ="{{strip.image.url}}" alt="{{strip.alt}}" title="{{strip.alt}}" />
{% endfor %}

{% if current_strip.has_previous %}
                <a href="?page={{ current_strip.previous_page_number }}">previous</a>
            {% endif %}


            {% if current_strip.has_next %}
                <a href="?page={{ current_strip.next_page_number }}">next</a>
            {% endif %}

{% endif %}

{% if recent_posts %}
  {% for p in recent_posts %}
    <h3>{{p.title}}</h3>
    <p>{{p.text}}</p>
  {% endfor %}
{% endif %}

<img src={% static "itisme.jpg" %} />

</body>

</html>
