{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Curse You, Thursday</title>
    <link href={% static "css/cyt.css" %} type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
</head>

<body>


    <div id="content">

      <div id="logo-box">
          <img class="logo" src={% static "images/logo.jpg" %} title="Curse You Thursday" />
      </div>


            <div id="strip-box">
                {% if current_strip %} {% for strip in current_strip %}
                <img class="strip" src="{{strip.image.url}}" alt="{{strip.alt}}" title="{{strip.alt}}" /> {% endfor %} {% endif %}

                <table class="nav">
                    <tr>
                        <td>
                            {% if current_strip.has_next %}
                            <a href="?page={{ current_strip.next_page_number }}"><img src={% static "images/prev.jpg" %} title="previous" /></a>
                            {% else %}
                            <img src={% static "images/prev.jpg" %} title="previous" /> {% endif %}
                        </td>
                        <td>
                            {% if current_strip.has_previous %}
                            <a href="?page={{ current_strip.previous_page_number }}"><img src={% static "images/next.jpg" %} title="next" /></a>
                            {% else %}
                            <img src={% static "images/next.jpg" %} title="next" /> {% endif %}
                        </td>
                    </tr>
                </table>
                <p>URL to this strip: http://some.url{{ request.get_full_path }}</p>
            </div>



        <div id="blog-about">

            <div class="about">
                <img src={% static "images/itisme.jpg" %} />
                <p>Infrequent webcomic by poorly drawn man</p>
            </div>

            <div class="blog">
                <img class="blogo" src={% static "images/blog.jpg" %} title="blog" /> {% if recent_posts %} {% for p in recent_posts %}
                <h3>{{p.title}}</h3>
                <p>{{p.text}}</p>
                {% endfor %} {% endif %}
            </div>


        </div>
    </div>
</body>

</html>
